App_WordGame/Lesson14_WorkGame.xcworkspace/xcuserdata/owner.xcuserdatad/UserInterfaceState.xcuserstate
App_WordGame/Lesson14_WorkGame.xcworkspace/xcuserdata/owner.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
